/*Globals*/
:root {
  --bg: #fafafa;
  --font: "Archivo", sans-serif;
  --font-display: "Archivo Narrow", sans-serif;
  --hotpink: #e94057;
  --orange: #f27121;
  --gradient: linear-gradient(35deg, var(--orange), var(--hotpink));
}

body {
  margin: auto;
  min-height: 100vh;
  background: var(--bg);
  font-family: var(--font);
}
a{
  text-decoration: none;
}
ul {
  list-style: none;

}

li {
  font-size: 1rem;
}

/*My styles*/
body {
  font-size: 2rem;
  display: flex;
  font-family: sans-serif;
  flex-direction: column;
  background-image: url(../assets/img/aron-van-de-pol.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom 0 right 0;
}

h1 {
  font-size: 1rem;
  color: #05257C;
  margin: 0;

}

p {
  line-height: 2rem;
  margin: 0;
}

p,
span {
  font-size: 1.5rem;
}

#menu {
  z-index: 1;
  background: #fff;
  font-weight: 800;
  padding: 0 1rem;
}

#menu h1 {
  padding-bottom: 1rem;
}

ul {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  color: #212121;
  width: fit-content;
  margin: 0;
  padding: 0;

}

ul li{
  box-sizing: border-box;
  color: #05257C;
  font-size: .8rem;
  border-right: 1px solid #05257C;
  transition: all .3s;
  padding: 0.3rem 0.5rem;
}


ul li:hover {
  cursor: pointer;
  transition: all .3s;
  background-color: #D42632;
  color: #fff;
  border-radius: .2rem;
}

#logo {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

#logo h1 {
  font-size: 3rem;
  line-height: 3.2rem;
  font-family: 'Tilt Prism', cursive;
}
.flag{
  width: 3rem;
}
.bar-contador {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
    background: #ffffff83;
}

.contadores {
  display: flex;
  gap: 2rem;

  padding: 0.3em 0.6em;
}

.tiempo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.tiempo h1 {
  margin-right: .5rem;
}

.tiempo p,
.tiempo span {
  margin-right: .2rem;
  color: #D42632;
}

.reloj {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.description{
  font-size: 1rem;
  margin: .5rem 0; 
  color: #05257C;
}

main {
  padding: 0 1rem 1rem 1rem;
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}


.mesa {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 80%;
  margin-inline: auto;
  height: 100%;
  margin-top: 1em;
}

.tarjeta {
  box-sizing: border-box;
  width: 7rem;
  height: 7rem;
  margin: 0 0.8rem 0.8rem 0;
  border-radius: 1rem;
  background-image: url(./../assets/pattern.png);
  background-repeat: repeat;
  background-size: contain;
  border: 3px solid #f69090;
  box-shadow: 2px 2px 1px #191919;
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
  backface-visibility: hidden;
  transform-style: preserve-3d;

}

.contenido {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 5px solid transparent;
  transition: all .3s;
  transform: rotateY(-180deg);
  backface-visibility: hidden;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
}

.tarjeta__contenido::selection {
  background: transparent;
}

.icon {
  width: 75%;
}


.nombre {
  margin: 0;
  font-size: 12px;
  /* padding-top: 1rem; */
}

.descubierta {
  transform: rotateY(-180deg);
}

.contenido.english {
  border: 5px solid royalblue;
}

.contenido.spanish {
  border: 5px solid lightcoral;
}

.acertada .contenido.english,
.acertada .contenido.spanish {
  border: 5px solid lightgreen;
  background: white;
}

.acertada .contenido::after {
  content: '✅';
  position: absolute;
  top: -1rem;
  right: -1rem;
  transition: all 0.3s;
  transform: scale(0, 0);
  transform-origin: center;
}

.acertada .contenido::after {
  font-size: 2rem;
  transform: scale(1, 1);
}


.aparecer {
  animation: appear .5s;

}

.croupier {

  font-size: 1.2rem;
  margin: 0 auto;
  border: 0px;
  border-radius: 0.3rem;
  padding: 1rem 1.5rem;
  box-shadow: 5px 5px 10px #8f5454;
  color: white;
  background-color: #D42632;
  line-height: 1rem;
  box-sizing: border-box;
  height: 3rem;

}

.croupier:hover {
  cursor: pointer;
  background-color: #f86464;
  color: white;

}

.modal {
  width: 40%;
  height: 40%;
  padding: 2rem;
  background-color: white;
  color: #D42632;
  box-shadow: 4px 4px 8px #191919;
  border-radius: .3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.feedback {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 5;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: all .3s;
}

.visible {

  transform: scale(1);
}

details {
  padding: 0.5em 0.5em 0;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
  font-size: 1rem;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

.paginador {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.paginador button {
  border: none;
  background: none;
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

.paginador button.activo {
  font-weight: bold;
}

/* CSS for the footer */
.footer {
  padding: .5rem .8rem;
  text-align: start;
  font-family: Arial, sans-serif;
  background: #fff;
  color: #05257C;
}
.footer p{
  font-size: 1.1rem;
}
.footer svg{
  width: 1.3rem;
  height: 1.3rem;
}


@keyframes appear {
  0% {
    transform: scale(0);
    border-radius: 100%;
  }

  100% {
    transform: scale(1);
    border-radius: 8px;
  }
}

@media screen and (max-width: 1080px){
  #logo h1{
    font-size: 3rem;
  }
  #mesa{
    width: 100%;
  }
  .contadores{
    padding: 0.2em 0.4em;
  }

}


@media screen and (max-width: 960px) {
  #logo h1{
    font-size: 2rem;
  }
  .flag{
    width: 2rem;
    height: 2rem;
  }
  .mesa {
    width: 100%;
  }
  .tarjeta{
    margin: 0 0.3rem 0.3rem 0;
    width: 6.8rem;
    height: 6.8rem;
  }
  .contadores{
    gap: .8rem;
  }
  .contenido{
    padding: .8rem;
  }
  .icon{
    width: 68%;
  }
  .nombre{
    font-size: 1.2rem;
  }
  .acertada .contenido::after{
    font-size: 1.5rem;
    top: -0.2rem;
    right: -0.2rem;
  }
}
@media screen and (max-width: 580px) {
  #logo h1 {
    font-size: 2rem;
  }
  .contadores{

    padding: 0.2rem 0.2rem;
  }
}


@media screen and (max-width: 451px) {
  .tarjeta {
    width: 4rem;
    height: 4rem;
  }
}